<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ToL Mod Utility - Measure Preparation</title>
		<link rel="stylesheet" href="../css/measures.css">
		<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	</head>

	<body>
		<div id="app">
			<div id="input-wrapper" v-if="isLoaded">
				<form id="input" method="post">
					<label for="player-select">Select a player: </label>
					<select id="player-select" v-model="selectedPlayer" @change="assembleCommand">
						<option v-for="player in parsedMatchInfo">{{ player.ign }} ({{ player.dName }}, {{ player.pid }})</option>
					</select>
				
					<label for="measure-select">Select a measure: </label>
					<select id="measure-select" v-model="selectedMeasure" @change="assembleCommand">
						<option selected>Select a measure</option>
						<option value="unban">Unban</option>
						<option value="fyi">FYI</option>
						<option value="warn">Warning</option>
						<option value="ban1d">1-Day Ban</option>
						<option value="ban3d">3-day Ban</option>
						<option value="ban7d">7-day Ban</option>
						<option value="ban15d">15-day Ban</option>
						<option value="ban30d">30-day Ban</option>
						<option value="ban1y">1-year Ban</option>
					</select>

					<label for="report-link">Insert report link:</label>
					<input id="report-link" type="text" v-model.trim="reportLink" @change="assembleCommand">
				
					<label for="measure-reason">Enter measure reason:</label>
					<input id="measure-reason" type="text" v-model.trim="measureReason" @change="assembleCommand">
				</form>
			</div>

			<div id="command-output-wrapper" v-if="isLoaded">
				<p id="command-output">{{ measureCommand }}</p>
			</div>

			<div style="color:red;">
				<span id="not-loaded-error" v-if="!isLoaded">Load a match to prepare measures!</span>
			</div>
		</div>
	
		<script src="../js/measures.js"></script>
	</body>
</html>