html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    display: table-cell;
    min-height: 100%;
    vertical-align: middle;
	position: relative;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
}

form {
	margin-top: 0.7vh;
}

form select, form input, form label {
	margin: 10px auto;
	display: block;
	max-width: 95%;
}

#app {
	height: 100vh;
	display: grid;
	grid-template-columns: 260px auto 25%;
	grid-template-areas: "input-config matchinfo-logs player-journals";
	background-color: #222;
	color: #ddd;
}

#input-config-wrapper, #matchinfo-logs-wrapper, #player-journals-wrapper {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	grid-template-areas: "top"
						"bottom";
	margin: 10px;
	height: calc(100vh - 26px);
	border: solid;
	position: relative;
	border-style: solid;
	overflow: hidden;
	word-wrap: break-word;
}

#input-config-wrapper {
	grid-area: input-config;
	text-align: center;
}

#wipe-toggle, #table-display-toggle {
	display: inline-block;
	vertical-align: bottom;
}

label[for="wipe-toggle"], label[for="table-display-toggle"] {
	display: inline-block;
}

#measure-prep {
	margin-top: 15%;
}

#matchinfo-logs-wrapper {
	grid-area: matchinfo-logs;
}

.player-account-name {
	color: #00FFFF;
}

.selected-journal-info {
	color: #fd0a0a;
}

.journal-placeholder {
	color: orange;
	text-align: center;
}

#input-wrapper, #match-info-wrapper {
	grid-area: top;
	border-bottom: solid;
	overflow: auto;
}

#config-wrapper, #chat-log-wrapper {
	grid-area: bottom;
	overflow-x: hidden;
	overflow-y: auto;
}

#chat-log-wrapper {
	margin-left: 10px;
}

#chat-log-wrapper span {
	display: block;
	padding: 5px 0;
}

#chat-log-wrapper table {
	border-spacing: 5px 5px;
	border-collapse: collapse;
	line-height: 24px;
}

#player-options {
	text-align: left;
	margin-left: 10px;
}

#player-options-container {
	margin-top: 10px;
	padding-left: 8px;
}

#player-options input, #player-options label, input[id^="view-"], label[for^="view-"] {
    display: inline;
}

ol > li, #player-options {
	margin: 10px auto;
}

.regex-flags {
	display: inline-block;
	width: 15%;
	margin: 5px auto;
}

#highlight-player-span {
	padding-left: 9px;
	vertical-align: sub;
}

#filter-player-span {
	padding-left: 6px;
	vertical-align: sub;
}

#reset-player-options {
	float: right;
	margin-right: 10px;
	margin-top: 2px;
}

#player-journals-wrapper {
	grid-area: player-journals;
}

#left-side-journal {
	grid-area: top;
	border-bottom: solid;
}

#right-side-journal {
	grid-area: bottom;
}

#left-side-journal, #right-side-journal {
	overflow-y: auto;
}

#left-side-journal p, #right-side-journal p {
	margin: 10px;
}

.player-filter-ign {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	line-height: 12px;
}

.player-filter-num {
	float: right;
	padding-right: 10px;
	line-height: 33px;
}

#chat-log-wrapper div span:last-child.seperator {
	border-bottom-style: solid;
}

#chat-log-wrapper div span:first-child.seperator {
	border-top-style: solid;
}

.seperator {
	border-top-style: solid;
	border-color: #3C3C3C;
}

.seperator-thin {
	border-width: 2px;
}

.highlight-player {
	background-color: #333333;
}

.highlight-search {
	background-color: #5f2f29;
}

.bluedragon {
	color: #00A3FF;
}

.unseen {
	/* color: #720373;  < actual unseen color from logo */
	color: #bf04c2; /* lighter for easier readability */
}

.cult {
	color: #870E00;
}

.neutral {
	color: #FFFFFF;
}

.won {
	color: #00FF00;
}

.lost {
	color: #FF0000;
}

.day {
	color: #00FF00;
}

.alive {
	color: #00B2FF;
}

.system {
	color: #FF9803;
}

.mind-link {
	/* color: #5100FF; < actual color from forum report logs */
	color: #6A5BD6; /* lighter for easier readability */
}

.attack {
	color: #FF0000;
}

.dead {
	color: #C0C0C0;
}

.heal {
	color: #008000;
}

.win {
	color: #00FF00;
}

.announcement, .privateannouncement {
	color: #FFFF00;
}

.whisper {
	color: #EE5FFF;
}

.trollbox {
	color: #00B2FF;
}

.connected {
	color: #C1D18A;
}

.reconnected {
	color: #8d9965;
}

.left-won-early {
	color: #87b6c0
}

.left-dead {
	color: #ACBEC2;
}

.left-alive {
	color: #F04639;
}

@media screen and (max-width: 1410px) {
	.player-filter-ign {
		max-width: 8vw;
	}
}

@media screen and (min-width: 1410px) {
	.player-filter-ign {
		max-width: 12vw;
	}
}