html {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    display: table-cell;
    min-height: 100%;
    vertical-align: middle;
	position: relative;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
}

form select, form input, form label {
	width: 200px;
}

form input, form select {
	margin: 10px auto;
}

form label {
	margin: 11px auto;
}

#app {
	height: 100vh;
	background-color: #222;
	color: #ddd;
	overflow: hidden;
}

#not-loaded-error {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 430px;
	font-size: 50px;
	text-align: center;
}

#input-wrapper {
	height: 105px;
}

#measure-player-select {
	float: left;
	margin-left: 35px;
}

#thread-reason-input {
	float: right;
	margin-right: 35px;
}

#measure-player-select label, #thread-reason-input label {
	float: left;
}

#command-output-wrapper {
	border: solid;
	border-style: solid;
	word-break: break-all;
	margin: 15px;
	overflow-y: auto;
	max-height: 75px;
}

#command-output {
	text-align: center;
	margin: 10px;
}