<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ToL Mod Utility</title>
		<link rel="stylesheet" href="./index.css">
		<script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js"></script>
	</head>

	<body>
		<div id="app">
			<div id="input-config-wrapper">
				<div id="input-wrapper">
					<form id="input" method="post">
						<label for="match-info">Match Info: </label>
						<input id="match-info" type="text" v-model.trim="matchInfoInput" :disabled="isLoaded">
					
						<label for="chat-logs">Chat logs: </label>
						<input id="chat-logs" type="text" v-model.trim="chatLogsInput" :disabled="isLoaded">
					
						<input id="input-load" type="submit" value="Load Match" @click.prevent="loadMatch()" :disabled="isLoaded">
						<input id="input-unload" type="submit" value="Unload Match" @click.prevent="unloadMatch()" :disabled="!isLoaded">
					
						<div>
							<label for="wipe-toggle">Wipe Input on Unload?</label>
							<input id="wipe-toggle" type="checkbox" v-model="unloadWipeToggle">
						</div>
						
						<div>
							<label for="table-display-toggle">Display as table?</label>
							<input id="table-display-toggle" type="checkbox" v-model="tableDisplayToggle" v-on="isLoaded ? { change: loadMatch && filter} : {}">
						</div>

						<div style="color:red; margin-top:35px;">
							<span v-if="!chatLogsInput || !matchInfoInput">Enter Match info and Chat logs!</span>
						</div>
					</form>
				</div>
			
				<div id="config-wrapper">
					<form id="config" method="post">
						<div>
							<input type="radio" id="view-general" value="generalConfig" name="viewSelect" v-model="view" :disabled="!isLoaded">
							<label for="view-general">General Options</label>
						</div>
						<div>
							<input type="radio" id="view-players" value="playerOptions" name="viewSelect" v-model="view" :disabled="!isLoaded">
							<label for="view-players">Player Options</label>
						</div>
						<div>
							<input type="radio" id="view-search" value="textSearch" name="viewSelect" v-model="view" :disabled="!isLoaded">
							<label for="view-search">Text search</label>
						</div>
					
						<div id="general-config" v-show="view === 'generalConfig'">
							<label for="type-select">Type filter: </label>
							<select id="type-select" v-model="selectedType" @change="filter" :disabled="!isLoaded">
								<option selected>All</option>
								<option>Day</option>
								<option>Alive</option>
								<option>System</option>
								<option>Mind Link</option>
								<option>Attack</option>
								<option>Dead</option>
								<option>Heal</option>
								<option>Win</option>
								<option>Announcement</option>
								<option>PrivateAnnouncement</option>
								<option>Whisper</option>
								<option>Trollbox</option>
							</select>
						
							<label for="day-select">Day filter: </label>
							<select id="day-select" v-model="selectedDay" @change="filter" :disabled="!isLoaded">
								<option selected>All</option>
								<option v-for="day in days">Day {{ day }}</option>
							</select>
						
							<label for="night-select">Night filter: </label>
							<select id="night-select" v-model="selectedNight" @change="filter" :disabled="!isLoaded">
								<option selected>All</option>
								<option v-for="night in nights">Night {{ night }}</option>
							</select>

							<label for="color-strip-toggle">Color strip:</label>
							<input id="color-strip-toggle" type="checkbox" v-model="colorStripToggle" :disabled="!isLoaded">

							<label for="seperators-toggle">Line seperators: </label>
							<input id="seperators-toggle" type="checkbox" v-model="seperatorsToggle" :disabled="!isLoaded">
						</div>	
					
						<div id="player-options" v-show="view === 'playerOptions'">
							<span id="highlight-player-span">H</span>
							<span id="filter-player-span">F</span>
							<button id="reset-player-options" @click.prevent="highlightedPlayers = []; filteredPlayers = []; filter()">Clear selection</button>
							<div id="player-options-container">
								<form method="post">
									<div v-for="player in parsedMatchInfo">
										<input type="checkbox" :id="`${player.ign}-highlight`" :value="`${player.ign} [${player.piIndex + 1}]`"
										v-model="highlightedPlayers" :disabled="!isLoaded">
										<input type="checkbox" :id="`${player.ign}-filter`" :value="`${player.ign} [${player.piIndex + 1}]`"
										v-model="filteredPlayers" @change="filter" :disabled="!isLoaded">
										<label :for="`${player.ign}-filter`">
											<span class="player-filter-ign">{{ player.ign }}</span>
											<span class="player-filter-num">[{{ player.piIndex + 1 }}]</span>
										</label>
									</div>
								</form>
							</div>
						</div>
					
						<div id="text-search" v-show="view === 'textSearch'">
							<form id="search-options" method="post" @submit.prevent>
								<label for="search-term">Search term/phrase/expr: </label>
								<input id="search-term" type="search" v-model="searchInput" :disabled="!isLoaded" @input="searchHits = []; currentHit = jumpToHit = 1;">
								<p>Matches found: {{ searchHits.length }}</p>
								<button id="search-previous" @click.prevent="adjustView(false)" :disabled="!isLoaded || !searchHits.length">&lt;</button>
								<span id="search-current">{{ currentHit }}</span>
								<button id="search-next" @click.prevent="adjustView(true)" :disabled="!isLoaded || !searchHits.length">&gt;</button>
								<label for="search-hit-input">Jump to: </label>
								<input type="number" @input.number="adjustView(null, jumpToHit)" v-model="jumpToHit" step="1" min="1" :max="searchHits.length" :disabled="!isLoaded || !searchHits.length" @submit.prevent>
								<label for="entire-words-search-toggle">Search entire words</label>
								<input id="entire-words-search-toggle" type="checkbox" v-model="entireWordsSearchToggle" @change="searchHits = []; currentHit = jumpToHit = 1;">
								<label for="regex-search-toggle">RegExp Search</label>
								<input id="regex-search-toggle" type="checkbox" v-model="regexSearchToggle" @change="searchHits = []; currentHit = jumpToHit = 1; regexFlags = [];">
								<div id="regex-flags-wrapper">
									<div class="regex-flags">
										<label for="regex-flag-g" title="Global search">G</label>
										<input id="regex-flag-g" type="checkbox" value="g" v-model="regexFlags" :disabled="!regexSearchToggle" @change="searchHits = []; currentHit = jumpToHit = 1;">
									</div>
									<div class="regex-flags">
										<label for="regex-flag-i" title="Case-insensitive search">I</label>
										<input id="regex-flag-i" type="checkbox" value="i" v-model="regexFlags" :disabled="!regexSearchToggle" @change="searchHits = []; currentHit = jumpToHit = 1;">
									</div>
									<div class="regex-flags">
										<label for="regex-flag-m" title="Multi-line search">M</label>
										<input id="regex-flag-m" type="checkbox" value="m" v-model="regexFlags" :disabled="!regexSearchToggle" @change="searchHits = []; currentHit = jumpToHit = 1;">
									</div>
									<div class="regex-flags">
										<label for="regex-flag-u" title="Unicode sequence search">U</label>
										<input id="regex-flag-u" type="checkbox" value="u" v-model="regexFlags" :disabled="!regexSearchToggle" @change="searchHits = []; currentHit = jumpToHit = 1;">
									</div>
									<div class="regex-flags">
										<label for="regex-flag-y" title="Sticky search">Y</label>
										<input id="regex-flag-y" type="checkbox" value="y" v-model="regexFlags" :disabled="!regexSearchToggle" @change="searchHits = []; currentHit = jumpToHit = 1;">
									</div>
								</div>
							</form>
						</div>
					</form>
				</div>
			</div>
		
			<div id="matchinfo-logs-wrapper">
				<div id="match-info-wrapper">
					<ol> 
						<li v-for="player in parsedMatchInfo" :id="`player-${player.pid}`" @click="selectedPlayerJournal = player.pid">
							<span class="player-ingame-name">{{ player.ign }}</span>
							<span class="player-account">
								(<span class="player-account-name">{{ player.dName }}</span>, <span class="player-account-id">{{ player.pid }}</span>):
							</span>
							<span class="player-start-info" :class="checkFaction(player.startFaction)">{{ player.startClass }} ({{ player.startFaction }})</span>
							<span>→</span> <!-- lone arrow in span because i don't want it colored, and putting it without a span would look weird in syntax -->
							<span class="player-end-info" :class="checkFaction(player.endFaction)">{{ player.endClass }} ({{ player.endFaction }}).</span>
							<br>
							<span class="player-game-result" :class="player.won ? 'won' : 'lost'">Won? {{ player.won }}.</span>
							<span class="player-connection-status" :class="checkConnection(player.pConInt)">Connection Status: {{ connectionStatuses[player.pConInt] }}.</span>
							<span class="selected-journal-info" v-show="selectedPlayerJournal === player.pid">Player Journal currently displayed on the right.</span>
						</li>
					</ol>
				</div>
			
				<div id="chat-log-wrapper">
					<div v-if="!tableDisplayToggle">
						<span v-for="log in parsedChatLogs" :id="`log-line-${parsedChatLogs.indexOf(log)+1}`" :class="[checkType(log), extraStylingCheck(log)]">{{ log }}</span>
					</div>
					<table v-if="tableDisplayToggle">
						<tr v-for="log in parsedChatLogs" :id="`log-line-${parsedChatLogs.indexOf(log)+1}`" :class="[checkType(log.origin), extraStylingCheck(log.origin)]">
							<td :class="[extraStylingCheck(log.origin)]">{{ log.meta }}</td>
							<td :class="[extraStylingCheck(log.origin)]">{{ log.content }}</td>
						</tr>
					</table>
				</div>
			</div>

			<div id="player-journals-wrapper">
				<div id="left-side-journal">
					<p class="journal-placeholder" v-if="!selectedPlayerJournal">
						Click on a player in the Match info to the left to display the Journal!
						(Whether or not a journal can be displayed depends on if it's shipped in the report data, thus the display may not always work)
					</p>
					<div v-if="selectedPlayerJournal">
						<!-- The above div prevents the Utility from crashing at boot when match info has not been parsed yet -->
						<p v-for="line in parsedMatchInfo.find(player => player.pid === selectedPlayerJournal).lastJournalLeft">{{ line }}</p>
					</div>
				</div>
				<div id="right-side-journal">
					<p class="journal-placeholder" v-if="!selectedPlayerJournal">
						Click on a player in the match info to the left to display their Journal!
						(Whether or not a journal can be displayed depends on if it's shipped in the report data, thus the display may not always work)
					</p>
					<div v-if="selectedPlayerJournal">
						<!-- The above div prevents the Utility from crashing at boot when match info has not been parsed yet -->
						<p v-for="line in parsedMatchInfo.find(player => player.pid === selectedPlayerJournal).lastJournalRight">{{ line }}</p>
					</div>
				</div>
			</div>
		</div>
	
		<script src="index.js"></script>
	</body>
</html>