<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ToL Mod Utility</title>
		<link rel="stylesheet" href="./index.css">
		<script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
	</head>

	<body>
		<div id="app">
			<div id="input-config-wrapper">
				<div id="input-wrapper">
					<form id="input" method="post">
						<label for="match-info">Match Info: </label>
						<input id="match-info" type="text" v-model.trim="matchInfoInput">

						<label for="chat-logs">Chat logs: </label>
						<input id="chat-logs" type="text" v-model.trim="chatLogsInput">

						<input id="input-load" type="submit" value="Load Match" @click.prevent="loadMatch()">
						<input id="input-unload" type="submit" value="Unload Match" @click.prevent="unloadMatch()">

						<div style="color:red; margin-top:35px;"><span v-if="!chatLogsInput || !matchInfoInput">Enter Match info and Chat logs!</span></div>
					</form>
				</div>

				<div id="config-wrapper">
					<form id="config" method="post">
						<div>
							<input type="radio" id="view-general" value="generalConfig" name="viewSelect" v-model="view" :disabled="!isLoaded">
							<label for="view-general">General Options</label>
						</div>
						<div>
							<input type="radio" id="view-players" value="playerFilter" name="viewSelect" v-model="view" :disabled="!isLoaded">
							<label for="view-players">Player filter</label>
						</div>

						<div id="general-config" v-show="view === 'generalConfig'">
							<label for="type-select">Type filter: </label>
							<select id="type-select" v-model="selectedType" @change="filter" :disabled="!isLoaded">
								<option selected>All</option>
								<option>Day</option>
								<option>Alive</option>
								<option>System</option>
								<option>Mind Link</option>
								<option>Attack</option>
								<option>Crier</option>
								<option>Dead</option>
								<option>Heal</option>
								<option>Win</option>
								<option>Announcement</option>
								<option>PrivateAnnouncement</option>
								<option>Whisper</option>
								<option>Trollbox</option>
							</select>
						
							<label for="day-select">Day filter: </label>
							<select id="day-select" v-model="selectedDay" @change="filter" :disabled="!isLoaded">
								<option selected>All</option>
								<option v-for="day in days">Day {{ day }}</option>
							</select>
						
							<label for="night-select">Night filter: </label>
							<select id="night-select" v-model="selectedNight" @change="filter" :disabled="!isLoaded">
								<option selected>All</option>
								<option v-for="night in nights">Night {{ night }}</option>
							</select>
						
							<label for="seperators-toggle">Line seperators: </label>
							<input id="seperators-toggle" type="checkbox" v-model.trim="seperatorsToggle" :disabled="!isLoaded">
						</div>

						<div id="player-filter" v-show="view === 'playerFilter'">
							<form method="post">
								<div v-for="player in parsedMatchInfo">
									<input
										type="checkbox"
										:id="`${player.IGN}-selector`"
										:value="`${player.IGN} [${parsedMatchInfo.findIndex(p => p.IGN === player.IGN) + 1}]`"
										v-model="selectedPlayers"
										@click="filter"
										:disabled="!isLoaded"
									>
									<label :for="`${player.IGN}-selector`">
										{{ player.IGN }} [{{ parsedMatchInfo.findIndex(p => p.IGN === player.IGN) + 1 }}]
									</label>
								</div>
							</form>
						</div>
					</form>
				</div>
			</div>

			<div id="display-wrapper">
				<div id="match-info-wrapper">
					<ol> 
						<li v-for="player in parsedMatchInfo">
							<span class="playerName">{{ player.IGN }} ({{ player.displayName }})</span>
							:
							<span class="playerStart" :class="checkFaction(player.startFaction)">{{ player.startClass }} ({{ player.startFaction }})</span>
							→
							<span class="playerEnd" :class="checkFaction(player.finalFaction)">{{ player.finalClass }} ({{ player.finalFaction }}).</span>
							<span class="playerResult" :class="player.won ? 'won' : 'lost'">Won? {{ player.won }}.</span>
							<span class="playerId">({{ player.playerId }})</span>
						</li>
					</ol>
				</div>

				<div id="chat-log-wrapper">
					<p v-for="log in parsedChatLogs" :class="[checkType(log), seperatorCheck(log)]"> {{ log }}</p>
				</div>
			</div>
		</div>

		<script src="index.js"></script>
	</body>
</html>